.element{max-width: 300px; float: left; padding: 1%; box-shadow: 1px 2px 5px grey; }
.pogas{text-align: center;}
.poga{ color: black; display: block; text-decoration: none; width: 80%; padding: 2px 9px; border: 1px solid grey; max-width: 90%; margin: 3px auto; }
.logo{ padding: 10px; }
